#Eclipse core
.settings/
.project
.DS_Store
.idea/
wshub.iml

#IntelliJ IDEA
.idea

#EAR
wshubear/.settings/
wshubear/target/
wshubear/bin/
wshubear/.project
wshubear/.DS_Store
wshubear/wshubear.iml

#EJB
wshubejb/.settings/
wshubejb/target/
wshubejb/bin/
wshubejb/.classpath
wshubejb/.project
wshubejb/.DS_Store
wshubejb/wshubejb.iml

#INTERFACES
wshub-interfaces/.settings/
wshub-interfaces/target/
wshub-interfaces/bin/
wshub-interfaces/.classpath
wshub-interfaces/.project
wshub-interfaces/.DS_Store
wshub-interfaces/wshub-interfaces.iml


#EJB
wshub-opensource/.settings/
wshub-opensource/target/
wshub-opensource/bin/
wshub-opensource/.classpath
wshub-opensource/.project
wshub-opensource/.DS_Store
wshub-opensource/wshub-opensource.iml

#EJB
wshub-cern/.settings/
wshub-cern/target/
wshub-cern/bin/
wshub-cern/.classpath
wshub-cern/.project
wshub-cern/.DS_Store
wshub-cern/wshub-cern.iml

#EJB
wshubejb/.settings/
wshubejb/target/
wshubejb/bin/
wshubejb/.classpath
wshubejb/.project
wshubejb/.DS_Store
wshubejb/wshubejb.iml


#REST
wshubrest/.settings/
wshubrest/bin/
wshubrest/target/
wshubrest/.classpath
wshubrest/.project
wshubrest/.tern-project
wshubrest/.DS_Store

wshubrest/wshubrest.iml
/build/

# POM Backup
*.versionsBackup

